/* Ceci est notre fichier css pour le projet Pick N Eat */
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {
display: grid;
grid-template-columns: 4fr 6fr;
grid-template-areas: 
"logo logo"
"header header"
"aside section "
"footer footer";
grid-gap:10px;
}

header{
  grid-area: header;
  display:flex;
  flex-direction: row;
  background-image: url("images/picnic.png");
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  margin-bottom: 2%;
  opacity: 80%;
}

.logo {
  grid-area: logo;
  height: 200px;
  width: auto;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.grid_pageRecipe {
  grid-area: section;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.notation {
  font-family: 'Euphoria Script', cursive; 
  font-size: 30px;
  width: 100%;
  text-align: center;
  flex: 1;
  align-items: start;
  margin-top: -2%;
  justify-content: flex-start;
}
.stars{
  margin-bottom: 4%;
  flex: 1;
}
.fa
{
  font-size: 30px;
  cursor:pointer;
}
.checked
{
color:red;
}
.unchecked
{
color:black;
}

.buttons {
text-align: center;
flex: 1;
}
.buttonTags {
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #F36C60; 
  color: white;
  font-weight: bold;
  border: 2px solid #f44336;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.zone_preparation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 5%;
  flex: 4;
  font-size: 25px;
  align-items: center;

}
/* Photo et valeurs nutritionnelles */
.zone_gauche{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  font-size: 15px;
  font-family: 'Merriweather Sans', sans-serif; 
  margin-left: 2%;
  padding: 5px;
  margin-right: 5%;
}

.photo-Coco2{
  flex: 2;
  border-radius: 30px;
  padding: 20px;
}

.zone_droite{
  font-family: 'Merriweather Sans', sans-serif;
  margin-left: 10%;
  padding: 10px;
  justify-content: space-between;
  flex: 3;
  font-size: 20px;
  text-align: justify;
  margin-right: 15%;
}

/* Couleur différente pour les chiffres */
ol li {
  counter-increment: list;
  list-style-type: none;
  position: relative;
}
ol li:before {
  color: #F08080;
  content: counter(list) ".";
  left: -32px;
  position: absolute;
  text-align: right;
  font-weight: bold;
  width: 26px;
}
 
 .grid_outilsrecipe { 
	display: grid;
	grid-template-columns:1fr;
	grid-template-areas: 
	"section1"
	"section2"
	"section3";
	background-color: yellow;
   grid-area: aside;
   text-align: center;

}


/* Partie Gauche sur les outils de la recette */

.pax_timerecipe {
	
	background-color: white;
	grid-area:section1;	
	display: flex;
	justify-content:space-between;
	font-family: 'Merriweather Sans', sans-serif; 
	font-size: 15px;
}
 
.Ingredients {

	background-color: white;
	grid-area:section2;
	font-family:'Merriweather Sans', sans-serif; 
  font-size: 20px;	
  text-align: center;
}

.Ustensiles {
	background-color: white;
	grid-area:section3;	
	font-family: 'Merriweather Sans', sans-serif; 
	font-size:20px;
}

.list_ingredient {
	font-family: 'Merriweather Sans', sans-serif;
	font-size:25px;
}


.tool_pictures {
	display: flex;
	justify-content:space-around;
}

ul{
	
	list-style-type: none;
}

.tool_1 {
	
	width: 150px;
}

.tool_2 {
	
	width: 150px;
}

.tool_3 {
	
	width: 150px;
}

.tool_4 {
  width:100px ;
}

.tool_5 {

  width: 50px ;
}

.tool_6 {

  width: 50px ;
}

.tool_7{

  width:70px ;
}

.pax_timerecipe p {
margin: 4px;	
border: 1px solid grey;
box-shadow: 3px 3px 0px darkgrey;
border-radius: 30px;
padding:10px 10px 10px 10px;
height: 30%;
width: 30%;

}



/* Footer Alex*/

footer {
  grid-area: footer;
  background-color:#ff6f61;
  font-style: italic;
  color:white;
  align-items:center;
  display:flex;
  flex-direction: column;
  font-family: Georgia, serif;
  font-size: 18px;
  }
  
  .containerf1 {
  flex:1;
  display:flex;
  width:100%;
  flex-direction: column;
  }
  
  .containerf2 {
  flex:1;
  display:flex;
  width:100%;
  flex-direction: row;
  
  }
  
  
  .footer_link{
  color:white;
  margin-left: 15%;
  flex:1;
  }
  
  .footer hr {
  color:white;
  flex:1;
  
  }
  
  .footer_link:hover{
  color:lightgrey;
  }
  
  footer ul li{
  list-style:none;
  
  }
  
  footer a {
  text-decoration: none;
  }
  
  .footer_link:hover {
  color:#e74101 !important;
  background-color: white;
  
  }
  
  /* Section Social Networks */
  
  
  .social-icons{
  flex:3;
  display:flex;
  flex-direction: row;
  justify-content:flex-end;
  margin-right: 15%;
  
  }
  
  
  .social-icons a{
  font-size:32px;
  display:inline-block;
  line-height:48px;
  width:48px;
  height:45px;
  text-align:center;
    border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
  }
  
  
  footer hr {
  border-top-color:black;
  opacity:0.5;
  width:70%;
  }
  
  .copyright-text{
  flex: 3;
  justify-content: center;
  font-size:20px !important;
  margin-left:8%;
  }
  
  
  
  /* Social links */
  
  .facebook:hover {
  
  background-color:#3b5998 !important;
  
  }
  
  .instagram:hover {
  background-color:#fa0504 !important;
  }
  
  .pinterest:hover{
  background-color:#cd2129;
  color:white;
  }
  
  .facebook{
  color: white;
  background-color: #F08080; 
  }
  
  .instagram {
  background-color: #F08080 !important; 
  color:white;
  }
  
  .pinterest {
  color:white;
  background-color:#F08080;
  }

  /* MODAL */

/* Effects on image */
/*Section recettes*/



.clickable {

  cursor: pointer;
}


.fa-heart {

  color: #e74101;
}

/* TEST EFFET SURVOL SOURI IMAGES RECETTE  */


.middle {
  transition: .5s ease;
  opacity: 0;
 
  transform: translate(0px ,-160px);

  
}

.container:hover .img_recette {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color:#e74101;
  color: white;
  font-size: 20px;
  padding: 10px 25px!important;
  font-weight: bold;
  flex : 1;
  width:65px!important;
  border-radius: 7%;
  border-style: solid;
  border-color:#ff6f61 ;
  
 
}

.text a {
  text-decoration: none;
  color:white;
  
}



.text:hover{

color:#ff6f61;
opacity: 0.8;

}

/* Fin test effet */




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 35%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #F36C60;
  color: white;
}

.modal-body {
  padding: 2px 16px;
overflow: scroll;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #F36C60;
  color: white;
}

/*Modal recette image*/
.img_recette {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10%;
  border: 2px solid #e64306;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  
} 
/* .text{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 10px;
  text-decoration: none;
} */

.text {
  background-color: #e74101;
  color: white;
  font-size: 14px;
  padding: 10px 25px;
  font-weight: bold;
  margin: 10px;
  width: 30px;
  border-radius: 7%;
  border-style: solid;
  border-color: #ff6f61;
}

.text a {
  text-decoration: none;
  color: white;
}

.container {
  text-align: center;
  padding: 15px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:5%;
  
}

.titre_recette {
  text-align: center;
  font-family: 'Euphoria Script', cursive; 
  font-size: 20px;
  margin: 0;
  margin-top:-5%;
}
.heartfull{
  display: none;
}


  @media only screen and (max-width: 400px) {

body {
display: grid;
grid-template-columns: 1fr;
/* grid-template-rows: 200px 1000px 200px; */
grid-template-areas: 
"logo"
"header"
"section"
"aside "
"footer";
}

header{
    /*background-color: red;*/
  grid-area: header;
  display:flex;
  flex-direction: row;
  background-image: url("images/picnic.png");
  height: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  margin-bottom: 2%;
  opacity: 60%;
}

.logo {
  grid-area: logo;
  height: 40px;
  width: auto;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.grid_pageRecipe {
  grid-area: section;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.notation {
  font-family: 'Euphoria Script', cursive; 
  font-size: 10px;
  width: 100%;
  text-align: center;
  flex: 1;
  align-items: start;
  margin-top: -2%;
  justify-content: flex-start;
}

.stars{
  margin-bottom: 4%;
}
.fa
{
  font-size:15px !important;
  cursor:pointer;
}
.checked
{
color:red;
}
.unchecked
{
color:black;
}

.buttons {
  text-align: center;
  flex: 1;
}
.buttonTags {
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #F36C60; 
  color: white;
  font-weight: bold;
  border: 1px solid #f44336;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.zone_preparation {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 5%;
  flex: 4;
  font-size: 10px;
  align-items: center;

}
/* Photo et valeurs nutritionnelles */
.zone_gauche{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  font-size: 15px;
  font-family: 'Merriweather Sans', sans-serif; 
  padding: 5px;
  margin-right: 5%;

}

.valeurs{
    width: 40%;
    margin: 0;
}

.valeurs_nut{
    font-size: 8px;
}

.photo-Coco2{
  width: 250px;
  flex: 2;
  border-radius: 20px;
  padding: 10px;
  margin-left: 25px;
}

.zone_droite{
  font-family: 'Merriweather Sans', sans-serif;
  margin-left: 10%;
  padding: 10px;
  justify-content: space-between;
  flex: 3;
  font-size: 10px;
  text-align: justify;
  margin-right: 15%;
}

/* Couleur différente pour les chiffres */
ol li {
  counter-increment: list;
  list-style-type: none;
  position: relative;
}
ol li:before {
  color: #F08080;
  content: counter(list) ".";
  left: -32px;
  position: absolute;
  text-align: right;
  font-weight: bold;
  width: 26px;
}
 
 .grid_outilsrecipe { 
	display: grid;
	grid-template-columns:1fr;
	grid-template-areas: 
	"section1"
	"section2"
	"section3";
	background-color: yellow;
   grid-area: aside;
   text-align: center;

}

footer {
    background-color: aqua;
    grid-area: footer;

}

/* Partie Gauche sur les outils de la recette */

.pax_timerecipe {
	
	background-color: white;
	grid-area: section1;	
	display: flex;
	justify-content:space-between;
	font-family: 'Merriweather Sans', sans-serif; 
	font-size: 10px;
}
.pax_timerecipe p {
  padding:10px 10px 10px 10px;
  height: 30%;
  width: 30%;
  }

 
.Ingredients {
	
	background-color: white;
	grid-area:section2;
	font-family:'Merriweather Sans', sans-serif; 
  font-size: 10px;	
  text-align: center;
}

.Ustensiles {
	
	background-color: white;
	grid-area:section3;	
	font-family: 'Merriweather Sans', sans-serif; 
	font-size:10px;
}

.list_ingredient {
	
	font-family: 'Merriweather Sans', sans-serif;
    font-size:10px;
    text-align: left;
    margin-left: 70px;
}


.tool_pictures {
	display: flex;
	justify-content:space-around;
}

ul{
	list-style-type: circle;
}

.tool_1 {
	
	width: 50px;
}

.tool_2 {
	
	width: 50px;
}

.tool_3 {
	
	width: 50px;
}

.tool_4 {
  width:25px ;
}

.tool_5 {
  width: 14px ;
}

.tool_6 {
  width: 14px ;
}

.tool_7{
  width:25px ;
}


/* Footer Alex*/

footer {
  background-color:#ff6f61;
  font-style: italic;
  color:white;
  align-items:center;
  display:flex;
  flex-direction: column;
  font-family: Georgia, serif;
  
  font-size: 10px;
  }
  
  .containerf1 {
  
  flex:1;
  display:flex;
  width:100%;
  flex-direction: column;
  
  
  }
  
  .containerf2 {
  
  flex:1;
  display:flex;
  width:100%;
  flex-direction: row;
  
  }
  
  
  .footer_link{
  color:white;
  
  margin-left: 15%;
  flex:1;
  }
  
  .footer hr {
  color:white;
  
   flex:1;
  
  }
  
  
  
  .footer_link:hover{
  color:lightgrey;
  }
  
  footer ul li{
  list-style:none;
  
  }
  
  footer a {
  
  text-decoration: none;
  }
  
  .footer_link:hover {
  
  color:#e74101 !important;
  background-color: white;
  
  }
  
  /* Section Social Networks */
  
  
  .social-icons{
  
  flex:É;
  display:flex;
  flex-direction: row;
  justify-content:flex-end;
  margin-right: 10%;
  
  }
  
  
  .social-icons a{
  
  
  font-size:20px;
  display:inline-block;
  line-height:48px;
  width:48px;
  height:45px;
  text-align:center;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
  }
  
  
  footer hr {
  
  border-top-color:black;
  opacity:0.5;
  
  width:50%;
  
   
  }
  
  .copyright-text
  {
  
  flex: 3;
  justify-content: center;
  font-size:10px !important;
  margin-left:8%;
  }
  
  
  /* Social links */
  
  .facebook:hover {
  
  background-color:#3b5998 !important;
  
  }
  
  .instagram:hover {
  
  
  background-color:#fa0504 !important;
  
  
  }
  
  .pinterest:hover{
  background-color:#cd2129;
  color:white;
  
  }
  
  .facebook
  {
  color: white;
  background-color: #F08080;
  }
  
  .instagram {
  
  background-color: #F08080 !important; 
  color:white;
  }
  
  .pinterest {
  color:white;
  background-color:#F08080;
  
  }
  .img_recette {
    width: 75px;
    height: 75px;
}

.titre_recette {
  text-align: center;
  font-family: 'Euphoria Script', cursive; 
  font-size: 10px;
}

.text {
  font-size: 10px;
  padding: 8px 8px;
  font-weight: bold;
  margin: 10px;
}
.container{
  padding: 5px;
}
  }


